@charset "utf-8";

/*
    yellow color: rgba(251,242,201,1.00);
    pink color: rgba(255,202,231,1.00);
    purple color:rgba(117,103,170,1.00)
    font-weight: 700;
*/

html,body {
    width: 100%;
    height: 100%;
}

body{
    /*background-color: #FBF2C9;*/
    font-family: "微軟正黑體";
    color: #606060;
}

 /*-----------------nav-------------------*/
.bg-nav{
    background-color: #BCB2D9;	
}


/*-------------------Full Page Image Header Area----------------------*/

.vert-text {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.vert-text h1 {
  padding: 0;
  margin: 0;
  font-size: 4.5em;
  font-weight: 700;
}
.header {
    display: table;
    height: 107%;
    width: 100%;
    position: relative;
    background: url("../images/logo_bg.png") no-repeat center center fixed;
    background-size: cover;
}
.logo{
	height: 75%;
	width: 75%;
	margin: auto;
}

/*-------------------- skill ----------------------*/

.skills {
    background-color: rgba(117,103,170,1.00);
    padding-top: 100px;
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 50px;
    color: #ffffff;
}


.ani,.web,.graphic {
  padding: 60px 0;
}

.skill-item {
    margin-bottom: 15px;
    color: rgba(255,202,231,1.00);
}

span.skill-icon {
    border: 3px dashed #ffffff;
    border-radius: 50%;
    display: inline-block;
    font-size: 56px;
    width: 140px;
    height: 140px;
    line-height: 136px;
    vertical-align: middle;
    text-align: center;
    margin-bottom: 20px;
}
.hr-pink{
    border-bottom: 3px solid rgba(255,202,231,1.00);
    margin-top: 35px;
    margin-bottom: 50px;
}

/*----------------Web-------------------*/
/*在layout.css*/
/*-------------Animate------------*/
.ani{
	background-color: rgba(251,242,201,1.00);
	color: #7567AA;
}
.btn-purple{
    border-radius: 0.5rem;
    background-color: rgba(117,103,170,1.00);
}
/*----------graphic----------*/
.graphic{
    background-image: -webkit-linear-gradient(270deg,rgba(251,242,201,1.00) 0%,rgba(255,202,231,1.00) 100%);
    background-image: -moz-linear-gradient(270deg,rgba(251,242,201,1.00) 0%,rgba(255,202,231,1.00) 100%);
    background-image: -o-linear-gradient(270deg,rgba(251,242,201,1.00) 0%,rgba(255,202,231,1.00) 100%);
    background-image: linear-gradient(180deg,rgba(251,242,201,1.00) 0%,rgba(255,202,231,1.00) 100%);
}
.btn-blue{
    border-radius: 0.7rem;
    background-color: rgba(176,255,255,1.00);
    color: rgba(117,103,170,1.00);
    font-weight: 500;
    -webkit-box-shadow: inset 0px 0px 15px rgba(117,103,170,1.00);
    box-shadow: inset 0px 0px 15px rgba(117,103,170,1.00);
}
.btn-blue:hover{
    background-color: rgba(251,242,201,1.00);
    color: rgba(117,103,170,1.00);
}
/* ----------------------Callout-------------------- */

.callout {
    color: #ffffff;
    display: table;
    height: 400px;
    width: 100%;
    background: url(../images/about/boybubbles.jpg) no-repeat center center fixed;
    background-size: cover;
}
/*--------------about-------------------*/
.about {
  background: rgba(117,103,170,1.00);
  padding: 50px 0;
  color: #ffffff;
}
.hope{
    text-shadow: 0px 0px 20px rgba(255,177,219,1.00);
}
/*-------------回首頁按鈕-----------------*/
.scroll-to-top{
	z-index: 1042;
	right: 1rem;
	bottom: 1rem;

}
.scroll-to-top a{
	width: 2.5rem;
	height: 2.5rem;
	background-color: rgba(33,37,41,.5);
	line-height: 2.5rem;
}
/*---------------------------------*/


/* Portfolio */

.portfolio {
  padding: 50px 0;
}

.portfolio-item {
  margin-bottom: 25px;
}

.img-portfolio {
  margin: 0 auto;
}


/* Call to Action */

.call-to-action {
  color: #ffffff;
  background: #0a5175;
  padding: 50px 0;
}

.call-to-action .btn {
  margin: 10px;
}


.top-scroll {
  margin-top: 50px;
}

.top-scroll a {
  text-decoration: none;
  color: inherit;
}

i.scroll {
  color: #333333;
}

i.scroll:hover {
  color: #0a5175;
}

.media-object{
	border: 1px solid rgba(114,114,114,1.00);
	padding-top: 3px;
	padding-right: 3px;
	padding-bottom: 3px;
	padding-left: 3px;
	margin-top: 5px;
	margin-left: 5px;
  }
.logo{
    height: 75%;
    width: 75%;
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: auto;
}

/* Responsive */

@media (max-width: 768px) {
	
  .header {
	background: url(../images/logo_bg_s.png) no-repeat center center scroll; 
  }
.logo{
	height: 100%;
	width: 100%;
	margin: auto;
}

  
  .media-object{
	  transform:scale(0.5);
	  margin-left:-50px;
	  margin-right:-50px;
	  margin-top:-60px;
  }
  .img-rounded{
	  transform:scale(0.8);
	  margin-left:auto;
	  margin-right:auto;
  }
	.cardwhite{
		
			
	
	}
}/*768*/

@media (max-width:576px){
	

 .card-body p{
		display: none;
  }
  .card{
	  transform: scale(0.8);
	  margin:-8% auto -8%;
  }	
	
}/*576*/
