@charset "utf-8";
.fplus-hero-area{
    background-image: url(../img/bg-img/hero-1.jpg);
}

@media (max-width:992px){
	.hero-content-area {
    width: calc(50%);
	height: 220px;
    background-color: #00B1F1;
    padding-top: 50px;
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 50px;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 9;
    border-top-left-radius: 0px;
    border-top-right-radius: 30px;
}
}


@media (max-width:768px){
	.hero-content-area {
    width: calc(50%);
	height: 200px;
    background-color: #00B1F1;
    padding-top: 50px;
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 50px;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 9;
    border-top-left-radius: 0px;
    border-top-right-radius: 30px;
}
}/*768px*/

@media (max-width:576px){
	.fplus-hero-area{
    background-image: url(../img/bg-img/hero-1-576.jpg);
}
	.hero-content-area {
    width: 320px;
	height: 200px;
    background-color: #00B1F1;
    padding-top: 30px;
    padding-right: 15px;
    padding-left: 0;
    padding-bottom: 30px;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 9;
    border-top-left-radius: 0px;
    border-top-right-radius: 30px;
    
}
	.hero-content-area h2{
    font-size: 6pt;
	}
}/*576px*/



